h1 {text-align: center;}
p {text-align: center;}
.p{
    border-radius: 10px;
}
.pi{
    border-radius: 5px;
}
.font{
   font-size: 20px;
    font-weight: 700;
}
.font1{
   font-size: 15px;
    font-weight: 700;
}
.b1{
     background-color:gold;
     border-radius: 5px;
}
